<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application' %>
  <title>Document</title>
</head>
<div class="messages">
  <body>
  <% user = User.find(@conversation.recipient_id) %>
  <h4>Conversation with <%= user.name %></h4>
  <div id="messages-all">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="content">
          <div class="msg-title"><%= image_tag user.avatar.tiny_thumb, class: 'tiny_thumb' %>
          <strong><%= user.name %></strong>
          <%= message.message_time %></div>
          <div class="message-body">
            <%= message.body %>
          </div>
      <% end %>
    <% end %>
  </div>
  <hr>
    <%= form_for [@conversation, @message] do |f| %>
      <div class="field">
        <%= f.text_area :body, class:"message-box" %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <div class="field">
        <%= f.submit "Send", class:'button' %>
      </div>
    <% end %>
  </div>



<script>
  document.getElementById("message_body").focus();
</script>
</body>
</html>
