<% if @listing.errors.any? %>
  <div class="error_explanation">
    <h2>
      <%= pluralize(@listing.errors.count, "error")  %>
      prohibited this listing from being saved:
    </h2>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div id="listing-form">
    <%= form_for @listing do |f| %>
    <div class="large-6 columns">
      <div class="radio_buttons">
        <p>
          This listing is for:
        </p>
        <div class="field">
          <%= f.radio_button :space_type, "shared_space", class: "radio-button" %>
          <%= f.label :space_type, "A room in a shared space", :value => "shared_space",class: "1-radio-button-label rb" %>
          <%= f.radio_button :space_type, "full_space", class: "radio-button"  %>
          <%= f.label :space_type, "A full private space", :value => "full_space", class: "2-radio-button-label rb" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :name, "Title" %>
        <%= f.text_field :name %><br>
      </div>
      <div class="field">
        <%= f.label :description, "Information" %>
        <%= f.text_area :description %><br>
      </div>
    <div class="row">
      <div class="large-6 medium-6 columns field">
        <%= f.label :price, "Price per month" %>
        <%= f.number_field :price %><br>
      </div>
      <div class="large-6 medium-6 columns field">
        <%= f.label :bedrooms, 'How many available bedrooms?'%>
        <%= f.number_field :bedrooms %><br>
      </div>
    </div>
      <div class="field">
        <%= f.label :rent_date %>
        <%= f.date_field :rent_date %>
      </div>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>

      </div>
      <div class="field">
        <% f.fields_for :images do |photo| %>
        <%= render 'image_fields', f: photo %>
        <% end %>
        <%= link_to_add_association "Add a Photo", f, :images, class: "button orange" %>
      </div>
    </div>

    <br>

    <p>
      Features and Amenities (click all that apply):
    </p>

<div class="large-6 columns">

  <div class="checkboxes">

    <ul>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :wheelchair_accessible, class: "check-box" %>
        <%= f.label :wheelchair_accessible, "Wheelchair Accessible", class:'check-box-label rb' %></li>

        <li><%= f.check_box :visually_accessible, class: "check-box" %>
        <%= f.label :visually_accessible, "Visually Impaired Accessbile", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :hearing_accessible, class: "check-box" %>
        <%= f.label :hearing_accessible, "Hearing Impaired Accessible", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :assistance_animal, class: "check-box" %>
        <%= f.label :assistance_animal, "Assistance Animal Friendly", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :furnished, class: "check-box" %>
        <%= f.label :furnished, "Furnished", class:'check-box-label rb'  %></li>
      </div>
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :fridge, class: "check-box" %>
        <%= f.label :fridge, "Fridge", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :stove, class: "check-box" %>
        <%= f.label :stove, "Stove", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :dishwasher, class: "check-box" %>
        <%= f.label :dishwasher, "Dishwasher", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :microwave, class: "check-box" %>
        <%= f.label :microwave, "Microwave", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :bathtub, class: "check-box" %>
        <%= f.label :bathtub, "Bathtub", class:'check-box-label rb'  %></li>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :fireplace, class: "check-box" %>
        <%= f.label :fireplace, "Fireplace", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :ac, class: "check-box" %>
        <%= f.label :ac, "Central AC", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :electric_heat, class: "check-box" %>
        <%= f.label :electric_heat, "Electric heating", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :forced_air_heat, class: "check-box" %>
        <%= f.label :forced_air_heat, "Forced Air heating", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :boiler_system, class: "check-box" %>
        <%= f.label :boiler_system, "Boiler System heating", class:'check-box-label rb'  %></li>
      </div>
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :cats, class: "check-box" %>
        <%= f.label :cats, "Cats OK", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :dogs, class: "check-box" %>
        <%= f.label :dogs, "Dogs OK", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :small_pets, class: "check-box" %>
        <%= f.label :small_pets, "Small pets OK", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :ensuite_laundry, class: "check-box" %>
        <%= f.label :ensuite_laundry, "Ensuite laundry", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :shared_laundry, class: "check-box" %>
        <%= f.label :shared_laundry, "Shared laundry", class:'check-box-label rb'  %></li>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :coinop_laundry, class: "check-box" %>
        <%= f.label :coinop_laundry, "Coin-operated laundry", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :balcony, class: "check-box" %>
        <%= f.label :balcony, "Balcony", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :deck, class: "check-box" %>
        <%= f.label :deck, "Deck", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :yard_shared, class: "check-box" %>
        <%= f.label :yard_shared, "Shared yard", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :yard_private, class: "check-box" %>
        <%= f.label :yard_private, "Private yard", class:'check-box-label rb'  %></li>
      </div>
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :pool, class: "check-box" %>
        <%= f.label :pool, "Pool", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :exercise_room, class: "check-box" %>
        <%= f.label :exercise_room, "Exercise room", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :party_room, class: "check-box" %>
        <%= f.label :party_room, "Party room", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :parking, class: "check-box" %>
        <%= f.label :parking, "Parking avaialble", class:'check-box-label rb'  %></li>

        <li><%= f.check_box :on_street_parking, class: "check-box" %>
        <%= f.label :on_street_parking, "On-street Parking available", class:'check-box-label rb'  %></li>
      </div>
  </div>
  </ul>
</div>

  <div class="radio_buttons">
    <div class="field">
      <%= f.radio_button :smoking, "smoking", class: "check-box"  %>
      <%= f.label :smoking, "Smoking OK", :value => "smoking", class: "5-radio-button-label rb"   %>
      <%= f.radio_button :smoking, "nonsmoking", class: "check-box" %>
      <%= f.label :smoking, "Non-Smoking", :value => "nonsmoking", class: "6-radio-button-label rb"   %>
    </div>
  </div>
  <br>
  <div class="action">
    <%= f.submit "Submit Listing", class:"button pink" %>
  </div>
</div>


  </div>
 <% end %>
</div>
</div>
