<% if @listing.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@listing.errors.count, "error")  %>
      prohibited this listing from being saved:
    </h2>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<div id="listing-form">
  <%= form_for @listing do |f| %>

    <div class="field">
      <%= f.label :name, "Title" %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="field">
      <%= f.label :price, "Price per month" %><br>
      <%= f.number_field :price %><br>
    </div>

    <div class="field">
      <%= f.label :description, "Information" %><br>
      <%= f.text_area :description %><br>
    </div>

    <div class="field">
      <%= f.label :bedrooms, 'How many available bedrooms?'%><br>
      <%= f.number_field :bedrooms %><br>
    </div>

    <div class="field">
      <%= f.label :location, "Address (or area)" %><br>
      <%= f.text_field :location %><br>
    </div>

    <div class="field">
      <%= f.label :rent_date, "Available From" %><br>
      <%= f.date_field :rent_date %><br>
    </div>

    <div class="field">
      <%= f.label :roomates, 'Are you looking for a roomate?' %><br>
      <%= f.check_box :roomates %><br>
    </div>

    <div class="field">
      <%= f.label :basement, 'Is this a basement apartment?' %><br>
      <%= f.check_box :basement %><br>
    </div>

    <div class="field">
      <%= f.label :sublet, "Are you subletting?" %><br>
      <%= f.check_box :sublet %><br>
    </div>

    <div class="field">
      <% f.fields_for :images do |photo| %>
      <%= render 'image_fields', f: photo %>
      <% end %>
      <%= link_to_add_association "Add a Photo", f, :images %>
    </div>

<div class="field">
  <%= f.check_box :utilities_included "Are utilities included in thelisted price?" %>
</div>
    <!-- add_column :listings, :utilities_included, :boolean
    add_column :listings, :space_type, :string
    add_column :listings, :current_roommates, :integer
    add_column :listings, :wheelchair_accessible, :boolean
    add_column :listings, :visually_accessible, :boolean
    add_column :listings, :hearing_accessible, :boolean
    add_column :listings, :assistance_animal, :boolean
    add_column :listings, :fridge, :boolean
    add_column :listings, :stove, :boolean
    add_column :listings, :dishwasher, :boolean
    add_column :listings, :microwave, :boolean
    add_column :listings, :bathtub, :boolean
    add_column :listings, :fireplace, :boolean
    add_column :listings, :ac, :boolean
    add_column :listings, :electric_heat, :boolean
    add_column :listings, :forced_air_heat, :boolean
    add_column :listings, :boiler_system, :boolean
    add_column :listings, :cats, :boolean
    add_column :listings, :dogs, :boolean
    add_column :listings, :small_pets, :boolean
    add_column :listings, :ensuite_laundry, :boolean
    add_column :listings, :shared_laundry, :boolean
    add_column :listings, :coinop_laundry, :boolean
    add_column :listings, :balcony, :boolean
    add_column :listings, :deck, :boolean
    add_column :listings, :yard_shared, :boolean
    add_column :listings, :yard_private, :boolean
    add_column :listings, :pool, :boolean
    add_column :listings, :exercise_room, :boolean
    add_column :listings, :party_room, :boolean
    add_column :listings, :furnished, :boolean
    add_column :listings, :parking, :boolean
    add_column :listings, :on_street_parking, :boolean
    add_column :listings, :smoking, :boolean
    add_column :listings, :nonsmoking, :boolean
    add_column :listings, :flagged, :boolean -->

    <div class="action">
      <%= f.submit "Submit Listing" %>
    </div>
  <% end %>
</div>
