<div class="medium-6 large-4 columns">

      <div class="single-card">
        <ul>
          <div class="row">
            <div class="small-4 columns thumb">

          <%= link_to listing_path(listing), data: { no_turbolink: true } do %>
            <li><%= image_tag listing.thumbnail, class:'thumbnail' %></li>
          </div>
          <div class="small-8 columns">

            <li><h5> <%= listing.name %></h5></li>
          <% end %>
            <li>$<%= listing.price %>/month</li>
            <li><%= listing.location %></li>
            <li>
              Available from:<br>
              <%= listing.rent_date.to_formatted_s(:long) %>
            </li>
            <br>
            <% unless can? :manage, listing %>
              <% if current_user %>
                <% unless current_user.favourite_listings.exists?(listing.id) %>
                  <li class="favourite-link">
                    <%= link_to favourite_listing_path(listing.id), method: :post do%>
                      <i class="material-icons">favorite</i>
                    <% end %>
                  </li>
                <% else %>
                  <li class="unfavourite-link">
                    <%= link_to unfavourite_listing_path(listing.id), method: :delete do %>
                      <i class="material-icons unfave">favorite</i>
                    <% end %>
                  </li>
                <% end %><!--end unless current user.favourite-->
              <% end %><!--end if current user-->
            <% end %><!--end unless can? -->
          </div>
          </div>
        </ul>
      </div>
</div>
