<div class="large-11 large-centered">
  <ul class="large-block-grid-4 ">
      <div class="single-card">
        <ul>
          <%= link_to listing_path(listing), data: { no_turbolink: true } do %>
            <li><%= image_tag listing.thumbnail, class:'thumbnail' %></li>
            <li><h5> <%= listing.name %></h5></li>
          <% end %>
            <li>$<%= listing.price %>/month</li>
            <li><%= listing.location %></li>
            <li>
              Available from:<br>
              <%= listing.rent_date.to_formatted_s(:long) %>
            </li>
            <br>
            <div id="favourites-<%= listing.id %>">
              <%= favourite_button(listing) %>
            </div>
          </ul>
      </div><!--end single-card-->
  </ul><!-- end large-block grid -->
</div>
