<% if @listing.errors.any? %>
  <div class="error_explanation">
    <h2>
      <%= pluralize(@listing.errors.count, "error")  %>
      prohibited this listing from being saved:
    </h2>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div id="listing-form">
    <%= form_for @listing do |f| %>
    <div class="large-6 columns">
      <div class="radio_buttons">
        <p>
          This listing is for:
        </p>
        <div class="field">
          <%= f.radio_button :space_type, "shared_space" %>
          <%= f.label :space_type, "A room in a shared space", :value => "shared_space" %>
          <%= f.radio_button :space_type, "full_space" %>
          <%= f.label :space_type, "A full private space", :value => "full_space" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :name, "Title" %>
        <%= f.text_field :name %><br>
      </div>
      <div class="field">
        <%= f.label :description, "Information" %>
        <%= f.text_area :description %><br>
      </div>
    <div class="row">
      <div class="large-6 medium-6 columns field">
        <%= f.label :price, "Price per month" %>
        <%= f.number_field :price %><br>
      </div>
      <div class="large-6 medium-6 columns field">
        <%= f.label :bedrooms, 'How many available bedrooms?'%>
        <%= f.number_field :bedrooms %><br>
      </div>
    </div>
      <div class="field">
        <%= f.label :rent_date %>
        <%= f.date_field :rent_date %>
      </div>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>

      </div>
      <div class="field">
        <% f.fields_for :images do |photo| %>
        <%= render 'image_fields', f: photo %>
        <% end %>
        <%= link_to_add_association "Add a Photo", f, :images %>
      </div>
    </div>


    <br>


    <p>
      Features and Amenities (check all that apply):
    </p>

<div class="large-6 columns">

  <div class="checkboxes">

    <ul>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :wheelchair_accessible %>
        <%= f.label "Wheelchair Accessible" %></li>

        <li><%= f.check_box :visually_accessible %>
        <%= f.label "Accessible for the visually impaired" %></li>

        <li><%= f.check_box :hearing_accessible %>
        <%= f.label "Accessible for the hearing impaired" %></li>

        <li><%= f.check_box :assistance_animal %>
        <%= f.label "Assistance Animal Friendly" %></li>

        <li><%= f.check_box :furnished %>
        <%= f.label "Furnished" %></li>
      </div>
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :fridge %>
        <%= f.label "Fridge" %></li>

        <li><%= f.check_box :stove %>
        <%= f.label "Stove" %></li>

        <li><%= f.check_box :dishwasher %>
        <%= f.label "Dishwasher" %></li>

        <li><%= f.check_box :microwave %>
        <%= f.label "Microwave" %></li>

        <li><%= f.check_box :bathtub %>
        <%= f.label "Bathtub" %></li>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :fireplace %>
        <%= f.label "Fireplace" %></li>

        <li><%= f.check_box :ac %>
        <%= f.label "Central AC" %></li>

        <li><%= f.check_box :electric_heat %>
        <%= f.label "Electric heating" %></li>

        <li><%= f.check_box :forced_air_heat %>
        <%= f.label "Forced Air heating" %></li>

        <li><%= f.check_box :boiler_system %>
        <%= f.label "Boiler System heating" %></li>
      </div>
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :cats %>
        <%= f.label "Cats OK" %></li>

        <li><%= f.check_box :dogs %>
        <%= f.label "Dogs OK" %></li>

        <li><%= f.check_box :small_pets %>
        <%= f.label "Small pets OK" %></li>

        <li><%= f.check_box :ensuite_laundry %>
        <%= f.label "Ensuite laundry" %></li>

        <li><%= f.check_box :shared_laundry %>
        <%= f.label "Shared laundry" %></li>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :coinop_laundry %>
        <%= f.label "Coin-operated laundry" %></li>

        <li><%= f.check_box :balcony %>
        <%= f.label "Balcony" %></li>

        <li><%= f.check_box :deck %>
        <%= f.label "Deck" %></li>

        <li><%= f.check_box :yard_shared %>
        <%= f.label "Shared yard" %></li>

        <li><%= f.check_box :yard_private %>
        <%= f.label "Private yard" %></li>
      </div>
      <div class="large-6 medium-6 columns">
        <li><%= f.check_box :pool %>
        <%= f.label "Pool" %></li>

        <li><%= f.check_box :exercise_room %>
        <%= f.label "Exercise room" %></li>

        <li><%= f.check_box :party_room %>
        <%= f.label "Party room" %></li>

        <li><%= f.check_box :parking %>
        <%= f.label "Parking avaialble" %></li>

        <li><%= f.check_box :on_street_parking %>
        <%= f.label "On-street Parking available" %></li>
      </div>
  </div>
  </ul>
</div>

  <div class="radio_buttons">
    <div class="field">
      <%= f.radio_button :smoking, "smoking" %>
      <%= f.label :smoking, "Smoking OK", :value => "smoking" %>
      <%= f.radio_button :smoking, "nonsmoking" %>
      <%= f.label :smoking, "Non-Smoking", :value => "nonsmoking" %>
    </div>
  </div>
  <div class="action">
    <%= f.submit "Submit Listing", class:"button pink" %>
  </div>
</div>


  </div>
 <% end %>
</div>
</div>
