

<h1>Listings</h1>

<div class="row">
  <div class="large-4 small-10 columns" >
    <%= search_form_for @q, url: search_listings_path,
                            html: { method: :post } do |f| %>
      <%= f.label :name_or_location_cont, "Search Listings" %>
      <%= f.text_field :name_or_location_cont, placeholder:"any keywords" %>

      <%= f.submit "Search", class: "button green" %>
      <% end %>
      <%#= button_tag 'advanced_search' %>
      <%# link_to "Advanced Search", render 'advanced_search' %>
      <h4>Advanced Search</h4>

      <%= search_form_for @q, url: search_listings_path,
                              html: { method: :post } do |f| %>
      <%= f.label :price_gteq, "Minimum Price" %>
      <%= f.number_field :price_gteq, placeholder: "0" %>

      <%= f.label :price_lteq, "Maximum Price" %>
      <%= f.number_field :price_lteq, placeholder: "0" %>

      <%= f.label :location_cont, "Address, Neighbourhood or City" %>
      <%= f.text_field :location_cont, placeholder: "742 Evergreen Terrace" %>


    <%= f.label :bedrooms_gteq, "Minimum Number of bedrooms" %>
    <%= f.number_field :bedrooms_gteq, placeholder: "0"%>

    <%=  f.hidden_field :location_cont, value: "Toronto"  %>

      <%= f.submit "Search", class: 'button' %>
    <% end %>
  </div>

  <div class="large-8 small-12 columns map">
    <div id="map-index" data-latitude='43.7' data-longitude='-79.4' ></div>
  </div>
</div>



<p id="pagination"><small><%= page_entries_info @listings %></small></p>
<div class="row">
  <div class="large-12 large-centered ">

  <div class="index-cards">

      <%= render @listings %>

  </div>
  </div>
</div>
<p><%= paginate @listings %></p>




<%= javascript_tag do %>
window.nearby = <%=raw @listings.map {|n| {lat: n.latitude, lng: n.longitude, name: n.name, desc: n.description, price: n.price, bedrooms: n.bedrooms, photo: n.thumbnail.url, date: n.rent_date, id: n.id}}.to_json %>;
<% end %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC49SZwfsHvdzEkLGZJClMzXunKm4kZ5YQ" %>
<%= javascript_include_tag 'map' %>
