<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>


  <div class="search-listings">
    <h1>Listings</h1>

    <%= button_tag 'Listings Near Me', id: 'search-nearby' %>

    <%= search_form_for @q, url: search_listings_path,
                            html: { method: :post } do |f| %>
    <%= f.label :price_gteq, "Minimum Price" %>
    <%= f.number_field :price_gteq, placeholder: "0" %>

    <%= f.label :price_lteq, "Maximum Price" %>
    <%= f.number_field :price_lteq, placeholder: "0" %>
  <br>
    <%= f.label :location_cont, "Address, Neighbourhood or City" %>
    <%= f.text_field :location_cont, placeholder: "742 Evergreen Terrace" %>

    <%= f.label :bedrooms_gteq, "Minimum Number of bedrooms" %>
    <%= f.number_field :bedrooms_gteq, placeholder: "0"%>
    <%#= f.check_box :space_type_eq: "full_space" %>
    <%#= f.label :space_type_eq, "Full Spaces Only" %>

    <%#=  f.hidden_field :location_cont, value: "Toronto"  %>

    <%= f.submit %>
  <% end %>

  <%= search_form_for @q, url: search_listings_path,
                          html: { method: :post } do |f| %>
  <%= f.check_box :basement_false %>
  <%= f.label :basement_false, "No Basements" %>
      <%= f.submit %>
  <% end %>
  <%= search_form_for @q, url: search_listings_path,
                          html: { method: :post } do |f| %>
  <%= f.check_box :sublet_false %>
  <%= f.label :sublet_false, "No Basements" %>
      <%= f.submit %>
  <% end %>


<div id="map-index" data-latitude='43.7' data-longitude='-79.4' ></div>

  <div class="index-cards">

    <small><%= page_entries_info @listings %></small>
  <%= render @listings %>


<%= javascript_tag do %>
window.nearby = <%=raw @listings.map {|n| {lat: n.latitude, lng: n.longitude, name: n.name, desc: n.description, price: n.price, bedrooms: n.bedrooms, photo: n.images.first.photo.thumb.url, date: n.rent_date, id: n.id}}.to_json %>;
<% end %>

<%= paginate @listings %>
</div>
<%= javascript_include_tag 'map' %>
