
<% if @user.errors.any? %>
  <div class="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row">

  <div id="user-form">
    <%= form_for @user do |f| %>
  <div class="large-6 columns">

      <div class="field">
        <%= f.label :invite_code, "Please enter your invite code", class:"invite_code" unless @user.invite_code?%>
        <%= f.text_field :invite_code unless @user.invite_code? %>
      </div>


      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name%>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email%>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="field">
        <%= f.label :about_me, 'About Me!' %>
        <%= f.text_area :about_me %>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="field">
      <%= f.label :tag_list, 'Add tags that describe you, seprated by a comma' %>
      <%= f.text_field :tag_list %><br>
    </div>
    <div class="field">
      <p>
        How will you be using Homes 4 Queers?
      </p>
      <ul>
        <li><%= f.label :site_use, "I am actively looking for a new home", :value => "looking_for_home", class: "a-radio-button-label rb" %></li>
        <%= f.radio_button :site_use, "looking_for_home", class:"radio-button"%>

        <li><%= f.label :site_use, "I am actively looking for (a) roommate(s) for my current home", :value => "looking_for_roommate", class: "b-radio-button-label rb" %></li>
        <%= f.radio_button :site_use, "looking_for_roommate", class:"radio-button" %>

        <li><%= f.label :site_use, "I am actively looking for (a) tenant(s) for my unoccupied space", :value => "looking_for_tenant", class: "c-radio-button-label rb" %></li>
        <%= f.radio_button :site_use, "looking_for_tenant", class:"radio-button" %>

        <li><%= f.label :site_use, "I'm not currently searching, just want to hang out", :value => "just_looking", class: "d-radio-button-label rb" %></li>
        <%= f.radio_button :site_use, "just_looking", class:"radio-button" %>
      </ul>
    </div>
    <div class="field">
      <%= f.label :message_notifications, "Receive email notifications?" %>
      <%= f.check_box :message_notifications %>
    </div>
    <div class="field"><br>
      Add a profile picture:
      <%= f.file_field :avatar %><br>
    </div>

    <div class="field">
      <%= f.label :message_notifications, "Receive email notifications?" %>
      <%= f.check_box :message_notifications %>
    </div>


    <div class="action">
      <%= f.submit "Sign me up", class:'button green' %><br>
    </div>
  </div>
</div>

  <% end %>
</div>
