<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="user-form">
  <%= form_for @user do |f| %>

    <div class="field">
      <%= f.label :invite_code, "Please enter your invite code" if @user.new_record?%><br>
      <%= f.text_field :invite_code if @user.new_record?%><br>
    </div>

    <div class="field">
      <p>
        How will you be using Homes 4 Queers?
      </p>
      <%= f.radio_button :site_use, "looking_for_home" %>
      <%= f.label :site_use, "I am actively looking for a new home", :value => "looking_for_home" %><br>
      <%= f.radio_button :site_use, "looking_for_roommate" %>
      <%= f.label :site_use, "I am actively looking for (a) roommate(s) for my current home", :value => "looking_for_roommate" %><br>
      <%= f.radio_button :site_use, "looking_for_tenant" %>
      <%= f.label :site_use, "I am actively looking for (a) tenant(s) for my unoccupied space", :value => "looking_for_tenant" %><br>
      <%= f.radio_button :site_use, "just_looking" %>
      <%= f.label :site_use, "I'm not currently searching, just want to hang out", :value => "just_looking" %>
    </div><br>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %><br>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %><br>
    </div>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="field">
      <%= f.label :about_me, 'About Me!' %><br>
      <%= f.text_area :about_me %><br>
    </div>

    <div class="field">
      <%= f.label :tag_list, 'Add tags, seprated by a comma' %><br>
      <%= f.text_field :tag_list %><br>
    </div>

    <div class="field"><br>
      <%= f.file_field :avatar %><br>
    </div>

    <div class="action">
     <%= f.submit %><br>
    </div>

  <% end %>
</div>
