<div class="profile">
  <% unless can? :manage, @user %>
    <% if current_user %>
      <% unless current_user.favourite_users.exists?(id: @user.id) %>
      <li class="favourite-link">
        <%= link_to favourite_user_path(@user.id), method: :post do%>
          <i class="material-icons fave" alt="favourite button">favorite</i>
          <% end %>
      </li>
      <% else %>
      <li class="unfavourite-link">
        <%= link_to unfavourite_user_path(@user.id), method: :delete do %>
          <i class="material-icons unfave" alt="unfavourite button">favorite</i>
        <% end %>
      </li>
      <% end %>
    <% end %>
  <% end %>

  <% if can? :manage, @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), class:'button orange' %>
  <%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account? This cannot be undone!"}, class:"button" %><br>
  <% end %>

<div class="row">
  <div class="small-10 small-centered columns text-center">

    <div class="large-6 medium-6 columns">
      <div class="info">
        <%= link_to image_url @user.avatar do %>
        <%= image_tag @user.avatar, class:"profile_pic", alt:"Profile picture thumbnail" %><br>
        <% end %>
      </div>
    </div>

    <div class="large-6 medium-6 columns">

  <h1><%= @user.name %></h1>


        <div class="description">
          <%= @user.about_me %><br>
        </div>
        <div class="tags">
          <h4>Tags:</h4>
          <%= render @user.tags %>
          <% if can? :manage, @user %><br>
          <strong>Unique invite code:</strong> <%= @user.token %>
          <% end %>
        </div>
      </div>
      <div class="flagbox">
        <%= link_to flag_user_path(@user.id), method: :post do%>
        Flag as offensive
        <i class="material-icons flag" alt="flag this person">error</i>
        <% end %>
      </div>


    </div>

    <% if @user.listings.any? %>
      <div class="row">
        <hr>
        <h3><%= @user.name %>'s Listings</h3>
        <% @user.listings.each do |list| %>
          <div class="small-10 small-centered ">
            <ul class=large-block-grid-4>
              <div class="single-card">
                <ul>
                  <%= link_to listing_path(list) do %>
                  <li><%= image_tag list.thumbnail, class:'thumbnail' %></li>
                  <li><h4><%= list.name %></h4></li>
                  <% end %>
                  <li><%= list.price %></li>
                  <li><%= list.location %></li>
                  <li>
                    Available from:<br>
                    <%= list.rent_date %>
                  </li>
                </ul>
              </div>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>

      <% if @user.listings.any? %>
        <div class="row">
          <hr>
          <h3><%= @user.name %>'s Listings</h3>
          <% @user.listings.each do |list| %>
            <div class="small-10 small-centered ">
              <ul class=large-block-grid-4>
                <div class="single-card">
                  <ul>
                    <%= link_to listing_path(list) do %>
                    <li><%= image_tag list.thumbnail, class:'thumbnail' %></li>
                    <li><h4><%= list.name %></h4></li>
                    <% end %>
                    <li><%= list.price %></li>
                    <li><%= list.location %></li>
                    <li>
                      Available from:<br>
                      <%= list.rent_date %>
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>


  </div><!--end column-->

</div><!--end row-->
<hr>
  <div class="row">
    <h4>Testimonials</h4>
    <p class='text-center'>
      Have you lived with this person?  Know any good stories about them? Do they bake amazing cookies?
    </p>
    <%= render 'comments' %>

  </div>

</div>
